<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cats_app{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to Cats_app</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">login</a></li>
                <li><a href="{% url 'logout' %}">logout</a></li>
                <li><a href="{% url 'create_post' %}">add post</a></li>
                <li><a href="{% url 'view_photos' %}"> feed </a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Cats_app. All rights reserved.</p>
    </footer>
</body>
</html>